@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 16px;
  color: #eee;
}

.slide1_root {
  height: 90vh;
  width: 90vw;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  position: relative;
}

.slide1_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.slide1_content_head {
  font-weight: 700;
  font-size: 5rem;
  margin-left: 400px;
}

.content_head_dot {
  color: #ff5252;
}

.slide1_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 2rem;
  padding-top: 1rem;
  margin-left: 400px;
}

.nav {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(0, 260px) rotate(90deg);
  -ms-transform: translate(0, 260px) rotate(90deg);
  transform: translate(0, 260px) rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100px;
}

.nav_item {
  outline: none;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  margin-left: 20px;
  color: #eee;
  cursor: pointer;
  padding: 0 40px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.slide1_logo {
  height: 150px;
  width: 150px;
  left: 30px;
  position: fixed;
  background-position: center center;
  background-size: cover;
  background-image: url('./assets/logo.png');
  filter: grayscale(1);
  border-radius: 0;
  opacity: 0.7;
}

.loop {
  height: 200px;
  width: 200px;
  position: absolute;
  border: 50px solid #ff5252;
  border-radius: 40%;
  opacity: 0.6;
}

.loop_one {
  top: 500px;
  left: -120px;
  z-index: -1;
}
.loop_two {
  bottom: 0;
  left: 900px;
  z-index: -1;
}
.loop_three {
  bottom: -100px;
  left: 940px;
  border: 50px solid #eee;
  z-index: -1;
}
.loop_four {
  top: 1100px;
  right: -100px;
  z-index: -1;
}

.slide2_root {
  height: 90vh;
  width: 90vw;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  position: relative;
  p {
    font-size: 2rem;
    padding: 5rem;
  }
  .loop_five {
    top: 200px;
    left: -120px;
    z-index: -1;
    border: 50px solid #eee;
  }
  .loop_seven {
    bottom: -100px;
    left: 50px;
    border: 50px solid #eee;
    z-index: -1;
  }
  .loop_eight {
    top: 500px;
    right: -100px;
    z-index: -1;
  }
  .logo_javascript {
    height: 200px;
    width: 200px;
    background-image: url('./assets/javascript.png');
    background-size: cover;
    background-position: center center;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    position: absolute;
    bottom: 0;
  }
  .logo_nodejs {
    height: 200px;
    width: 200px;
    background-image: url('./assets/node.png');
    background-size: cover;
    background-position: center center;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    position: absolute;
    right: -20px;
    top: -30px;
  }
  .logo_react {
    height: 200px;
    width: 200px;
    background-image: url('./assets/react.png');
    background-size: cover;
    background-position: center center;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-animation: react_logo 10s linear infinite;
    animation: react_logo 10s linear infinite;
  }

  @-webkit-keyframes react_logo {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    75% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes react_logo {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    75% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.slide3_root {
  height: 90vh;
  width: 90vw;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  position: relative;
  .slide3_h1 {
    padding-left: 5rem;
    font-size: 3rem;
    span {
      color: #ff5252;
    }
  }
  .ss_work {
    height: 200px;
    width: 500px;
    margin: auto;
    display: block;
    background-image: url('./assets/uniqgrid_logo.png');
    background-size: cover;
    background-position: center center;
    -webkit-filter: brightness(1) contrast(0) grayscale(1);
    filter: brightness(1) contrast(0) grayscale(1);
  }
  .slide4_code_logo {
    background-image: url('./assets/code.jpg');
    background-size: cover;
    background-position: center center;
    position: absolute;
    height: 300px;
    width: 300px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.6;
    bottom: 340px;
    right: 100px;
  }
  .ss_work_one {
    margin-left: -120px;
  }
  .work_content {
    font-size: 1.5rem;
    padding: 5rem;
    .link {
      color: #999;
    }
  }
  .bar1 {
    height: 300px;
    width: 100px;
    opacity: 0.6;
    background-color: #eee;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  .bar2 {
    height: 300px;
    width: 100px;
    opacity: 0.6;
    background-color: #eee;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    right: -30px;
    top: -30px;
    z-index: -1;
  }
  .ss_work_two {
    height: 300px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 6rem;
    -webkit-filter: brightness(1) contrast(0) grayscale(1);
    filter: brightness(1) contrast(0) grayscale(1);
  }
  .loop_nine {
    right: -50px;
    bottom: -50px;
    position: absolute;
    z-index: -1;
  }
}
.slide4_flight_logo {
  @extend .slide4_code_logo;
  filter: brightness(1) contrast(0.3) !important;
  background-image: url('./assets/19flight.png') !important;
}
.slide4_futura_logo {
  @extend .slide4_code_logo;
  background-image: url('./assets/undraw_japan_ubgk.86920f61.png') !important;
}

.slide7_root {
  @extend .slide3_root;
  background-color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  a {
    outline: none;
    text-decoration: none;
    padding: 2rem;
    font-size: 2.7rem;
    border: none;
    background: #222;
    color: #eee;
    box-shadow: 0px 20px 20px #333;
  }
  .animated_svg {
    background: url('./assets/icons-animated.gif');
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(1) invert(0.8) opacity(0.6);
  }
  p,
  a {
    z-index: 1;
  }
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0;
    left: 0;
    bottom: 0;
    background: url('./assets/sunny.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -300px center;
    filter: grayscale(1);
  }
}
.slide8_root {
  height: 90vh;
  width: 82vw;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  position: relative;
  background-color: #fff;
  padding-top: 10px;
  .row {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 130px;
  }
  .skill {
    width: 200px;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(1);
    z-index: 1;
  }
  .one {
    background-image: url('./assets/react.png');
  }
  .two {
    background-image: url('./assets/Sass_Logo_Color.svg');
  }
  .three {
    background-image: url('./assets/angular.png');
  }
  .four {
    background-image: url('./assets/mongo.png');
  }
  .five {
    background-image: url('./assets/nodejs.png');
  }
  .six {
    background-image: url('./assets/js-min.png');
  }
  .seven {
    background-image: url('./assets/pwa.png');
  }
  .eight {
    background-image: url('./assets/python.png');
  }
  .nine {
    background-image: url('./assets/css3.svg');
  }
  .ten {
    background-image: url('./assets/xd.png');
  }
  .eleven {
    background-image: url('./assets/wordpresspng.png');
  }
  .twelve {
    background-image: url('./assets/Vue.png');
  }
  .thirteen {
    background-image: url('./assets/cplusplus.png');
  }
  .fourteen {
    background-image: url('./assets/git.png');
  }
  .fifteen {
    background-image: url('./assets/redux.png');
  }
  .skills {
    position: absolute;
    background-color: #555;
    box-shadow: 0 10px 20px #222;
    top: -30px;
    left: -150px;
    font-size: 5rem;
    padding: 0 4rem;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 32px;
    color: #eee;
  }
  .slide1_root {
    min-height: 230vh;
    margin-top: -200px;
    min-width: 200vw;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    position: relative;
  }

  .slide1_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 5rem;
    padding-top: 20rem;
  }

  .slide1_content_head {
    font-weight: 700;
    font-size: 8rem;
    margin-left: 0;
  }

  .content_head_dot {
    color: #ff5252;
  }

  .slide1_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 3rem;
    padding: 0 5rem;
    padding-top: 1rem;
    margin-left: 0;
  }

  .nav {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(0, 340px) rotate(90deg);
    -ms-transform: translate(0, 340px) rotate(90deg);
    transform: translate(0, 340px) rotate(90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 10px;
    width: 200px;
    margin-top: 50px;
    right: -40px;
  }

  .nav_item {
    outline: none;
    font-size: 2.3rem;
    border: none;
    background-color: transparent;
    margin-left: 20px;
    color: #eee;
    cursor: pointer;
    padding: 0 40px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  }

  .slide1_logo {
    height: 200px;
    width: 200px;
    left: 30px;
    top: -170px;
    position: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url('./assets/logo.png');
    filter: grayscale(1);
    border-radius: 0;
    opacity: 0.7;
  }

  .loop {
    height: 200px;
    width: 200px;
    position: absolute;
    border: 50px solid #ff5252;
    border-radius: 40%;
    opacity: 0.6;
  }

  .loop_one {
    top: 500px;
    left: -120px;
    z-index: -1;
  }
  .loop_two {
    bottom: 0;
    left: 200px;
    z-index: -1;
  }
  .loop_three {
    bottom: -100px;
    left: 240px;
    border: 50px solid #eee;
    z-index: -1;
  }
  .loop_four {
    top: 1100px;
    right: -100px;
    z-index: -1;
  }

  .slide2_root {
    min-height: 230vh;
    margin-top: -200px;
    min-width: 200vw;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    position: relative;
    p {
      font-size: 3.5rem;
      padding: 5rem;
    }
    .loop_five {
      top: 200px;
      left: -120px;
      z-index: -1;
      border: 50px solid #eee;
    }
    .loop_seven {
      bottom: -100px;
      left: 50px;
      border: 50px solid #eee;
      z-index: -1;
    }
    .loop_eight {
      top: 500px;
      right: -100px;
      z-index: -1;
    }
    .logo_javascript {
      height: 200px;
      width: 200px;
      background-image: url('./assets/javascript.png');
      background-size: cover;
      background-position: center center;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      position: absolute;
      bottom: 0;
    }
    .logo_nodejs {
      height: 200px;
      width: 200px;
      background-image: url('./assets/node.png');
      background-size: cover;
      background-position: center center;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      position: absolute;
      right: -20px;
      top: -30px;
    }
    .logo_react {
      height: 200px;
      width: 200px;
      background-image: url('./assets/react.png');
      background-size: cover;
      background-position: center center;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      position: absolute;
      bottom: 0;
      right: 0;
      -webkit-animation: react_logo 10s linear infinite;
      animation: react_logo 10s linear infinite;
    }

    @-webkit-keyframes react_logo {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      25% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      75% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes react_logo {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      25% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      75% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
  .slide3_root {
    min-height: 230vh;
    margin-top: -200px;
    min-width: 200vw;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    position: relative;
    .slide3_h1 {
      padding-left: 5rem;
      padding-top: 5rem;
      font-size: 6rem;
      span {
        color: #ff5252;
      }
    }
    .ss_work {
      height: 200px;
      width: 100%;
      display: block;
      background-image: url('./assets/uniqgrid_logo.png');
      background-size: cover;
      background-position: center center;
      -webkit-filter: brightness(1) contrast(0) grayscale(1);
      filter: brightness(1) contrast(0) grayscale(1);
    }
    .slide4_code_logo {
      background-image: url('./assets/code.jpg');
      background-size: cover;
      background-position: center center;
      position: absolute;
      height: 300px;
      width: 300px;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      opacity: 0.6;
      bottom: 300px;
      right: 100px;
    }
    .ss_work_one {
      margin-left: -120px;
    }
    .work_content {
      font-size: 2.8rem;
      padding: 5rem;
      .link {
        color: #999;
      }
    }
    .bar1 {
      height: 300px;
      width: 100px;
      opacity: 0.6;
      background-color: #eee;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
    .bar2 {
      height: 300px;
      width: 100px;
      opacity: 0.6;
      background-color: #eee;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      position: absolute;
      right: -30px;
      top: -30px;
      z-index: -1;
    }
    .ss_work_two {
      height: 300px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 6rem;
      -webkit-filter: brightness(1) contrast(0) grayscale(1);
      filter: brightness(1) contrast(0) grayscale(1);
    }
    .loop_nine {
      right: -50px;
      bottom: -50px;
      position: absolute;
      z-index: -1;
    }
  }
  .slide4_flight_logo {
    @extend .slide4_code_logo;
    filter: brightness(1) contrast(0.3) !important;
    background-image: url('./assets/19flight.png') !important;
  }
  .slide4_futura_logo {
    @extend .slide4_code_logo;
    background-image: url('./assets/undraw_japan_ubgk.86920f61.png') !important;
  }

  .slide7_root {
    min-height: 230vh;
    margin-top: -200px;
    min-width: 200vw;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    position: relative;
    background-color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    a {
      outline: none;
      padding: 2rem;
      font-size: 3rem;
      border: none;
      background: #222;
      color: #eee;
      box-shadow: 0px 20px 20px #333;
    }
    .animated_svg {
      background: url('./assets/icons-animated.gif');
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: grayscale(1) invert(0.8) opacity(0.6);
    }
    p,
    a {
      z-index: 1;
    }
    position: relative;
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url('./assets/sunny.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -1000px center;
      filter: grayscale(1);
    }
  }
  .slide8_root {
    min-height: 230vh;
    margin-top: -200px;
    min-width: 200vw;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    position: relative;
    height: 200vh;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    .row {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 18%;
      margin-bottom: 20px;
    }
    .skill {
      width: 220px;
      height: 200px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      filter: grayscale(1);
      z-index: 1;
    }
    .one {
      background-image: url('./assets/react.png');
    }
    .two {
      background-image: url('./assets/Sass_Logo_Color.svg');
    }
    .three {
      background-image: url('./assets/angular.png');
    }
    .four {
      background-image: url('./assets/mongo.png');
    }
    .five {
      background-image: url('./assets/nodejs.png');
    }
    .six {
      background-image: url('./assets/js-min.png');
    }
    .seven {
      background-image: url('./assets/pwa.png');
    }
    .eight {
      background-image: url('./assets/python.png');
    }
    .nine {
      background-image: url('./assets/css3.svg');
    }
    .ten {
      background-image: url('./assets/xd.png');
    }
    .eleven {
      background-image: url('./assets/wordpresspng.png');
    }
    .twelve {
      background-image: url('./assets/Vue.png');
    }
    .thirteen {
      background-image: url('./assets/cplusplus.png');
    }
    .fourteen {
      background-image: url('./assets/git.png');
    }
    .fifteen {
      background-image: url('./assets/redux.png');
    }
    .skills {
      position: absolute;
      background-color: #555;
      box-shadow: 0 10px 20px #222;
      top: -30px;
      left: -40px;
      font-size: 5rem;
      padding: 0 4rem;
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
